.jbqk .D_text_a {
    width: 150px;
    margin-left: 7px;
}

.jbqk .D_text_b {
    width: 300px;
    margin-left: 7px;
}

.jbqk .D_text_e {
    margin-left: 7px;
}

.D_table td.D_td_t_l {
    width: 240px;
}